div.landing{
    background-image: url("../assets/img/background.png");
    flex-direction: column;
    display: flex;
    place-items: center;
    justify-content: center;
    min-height: 90.2vh;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #5a5a5a;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }

*{
    padding:0px;
    margin:0px;
    font-family: 'Rubik', sans-serif;
}

h1{
    color: #FFFFFF;
    text-shadow: 0px 0px 9px #000000;
    font-size: 9vh
}

p{
    color: #c5c5c5;
    font-size: 3vh;
    text-shadow: 0px 0px 3px #000000;
}