body {
    height: auto;
    width: auto;
    background-color: #17181A;
    font-family: 'Rubik', sans-serif;
}

div.a {
	text-align: center;
    text-align-last: center;
    color: #FFFFFF;
}