div.landing{
    background-image: url("../assets/img/banner-bg.png");
    flex-direction: column;
    display: flex;
    place-items: center;
    justify-content: center;
    min-height: 90.2vh;
}